@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


@layer theme, base, components, utilities;

body {
  font-family: 'DM Serif Display', serif;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}